/* Общие стили */
body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(90deg, rgb(243, 223, 75), rgb(249, 238, 151), rgb(243, 223, 75)); /*Градиент*/
    margin: 0;
    padding: 20px;
    color: #2d3436;
}

table {
    width: 80%;
    max-width: 100%;
    border-collapse: collapse;
    margin: 8px 0;
    transition: transform 0.3s;
    table-layout: fixed;
}

td {
    border: 2px solid #cf9f0c; /*границы в таблице*/
}

td img {
    width: 100%;
    /* Занимает всю ширину ячейки */
    height: 100%;
    /* Занимает всю высоту ячейки */
    object-fit: scale-down;
    /* Обрезает изображение, сохраняя пропорции */
    display: block;
    /* Устраняет лишние отступы */
}

tr,
td {
    margin: 2mm;
    padding: 2mm;
}

td.image-cell {
    padding: 0;
    margin: 0;
    vertical-align: top; /*ставка изображений с сохранением выравнивания*/
}

table:hover {
    transform: scale(1.02); /* Увеличение при помощи transform*/
}

table tr:nth-child(even) {
    background: #ffe0a7;
}

table tr:nth-child(odd) {
    background: #fae3a0;
}

table tr:hover {
    background: #fcc81e;
}

th {
    background: #6c5ce7;
    color: white;
}

/* Шапка */
header {
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(90deg, #cf9f0c, #e7c25c); /*Градиент*/
    padding: 15px 0px;
    margin-bottom: 30px;
    /* Добавлен отступ снизу */
}

nav {
    text-align: center;
    margin: 0px 0;
    /* Добавлены отступы */
    padding: 0px;
    border-radius: 25px;
    transition: transform 0.3s;
}

nav a {
    display: inline-block;
    transition: transform 0.3s;
    text-decoration: none;
    padding: 20px 20px;
    color: white;
    border-radius: 25px;
    margin: 0 10px;
}

nav a.current-page {
    border: 2px solid #e67e22;
    /* Оранжевая рамка */
    font-weight: 700;
    /* Жирный текст */
    transform: scale(1.1); /* Увеличение при помощи transform*/
}

nav a:link {
    background: #cf9f0c;
}

nav a:hover {
    transform: scale(1.05);
    background: #fcde65;
    text-decoration: underline wavy; /*Свойство text-decoration*/
}

nav a:visited {
    background: #f3c716
}

hr {
    height: 2px;
    background-color: #f0cf4b;
    border: none;
}

main {
    display: flex;
    margin: 10 px;
}

main p::first-letter {
    /*Псевдоэлемент*/
    line-height: 0.2;
    font-size: 2em;
    color: rgb(255, 145, 0);
    margin-right: 0px;
}

column_left,
column_right {
    border-radius: 15px;
    width: 44%;
    padding: 20px;
    margin: 15px;
    background: #f0cf4b;
    transition: transform 0.3s;
}

column_left {
    float: left;
}

column_right {
    float: right;
}

column_left:hover {
    transform: scale(1.01); /* Увеличение при помощи transform*/
}

column_right:hover {
    transform: scale(1.01); /* Увеличение при помощи transform*/
}

column_right:img {
    max-width: 100%;
    /* Ограничение по ширине родителя */
    height: auto;
    /* Сохранение пропорций */
    display: block;
    /* Устраняет лишние отступы */
    margin-left: auto;
    margin-right: auto;
}

column_left:img {
    max-width: 100%;
    /* Ограничение по ширине родителя */
    height: auto;
    /* Сохранение пропорций */
    display: block;
    /* Устраняет лишние отступы */
    margin-left: auto;
    margin-right: auto;
    /* Центрирование */
}

iframe {
    max-width: 100%;
    border-radius: 8px;
    filter: sepia(0.2); /*Применен filter*/
    transition: transform 0.3s;
    margin: 10px 0;
    float: center;
}

iframe:hover {
    transform: scale(1.13) 
    translateX(5%) 
    translateY(5%);
}

/* Подвал */
footer {
    text-align: center;
    outline: 5px solid #cf9f0c;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(243, 223, 75), rgb(249, 238, 151), rgb(243, 223, 75)); /*Градиент*/
    padding: 20px;
    margin-top: 30px;
}

main {
    margin-top: 20px;
}